/* global */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html,
body {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}


/* header */

.header {
    background-color: #B06010;
    padding: 1.3rem 0;
    font-size: 1.4rem;
    color: white
}

.header__content {
    width: 75%;
    margin: 0 auto
}

.header__content ul {
    list-style: none;
    display: flex;
}

.header__content ul li {
    margin-left: 3rem
}

.header__content ul li i {
    margin-right: 1rem
}

.header__content a {
    text-decoration: none;
    color: white
}

.header__content a:hover {
    color: #204b87;
    transition: all 0.5s
}


/* nav */

.nav {
    padding: 1rem 0;
}

.nav__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.nav a {
    text-decoration: none;
    color: #212121;
    font-size: 1.5rem
}

.nav ul {
    display: flex;
    align-items: center
}

.nav ul li {
    list-style: none;
    padding: 0 1.5rem 0;
}

.nav__menu a:hover,
a:focus {
    color: #b06010;
    transition: all 0.5s
}

.nav__logo a i {
    font-size: 2.5rem;
    color: #204b87;
    margin-right: 1rem
}

.nav__logo a span {
    color: black;
    font-size: 2.8rem;
    font-weight: bold
}

.nav__logo a p {
    font-size: 1.2rem;
    text-align: center;
    color: #b06010;
    letter-spacing: 0.6rem;
    font-weight: 600;
    margin-top: 0.5rem
}

.nav__menu li {
    position: relative;
}

.nav__menu li:nth-child(4) ul {
    position: absolute;
    top: 2rem;
    left: 1.5rem;
    width: 100%;
    display: block;
    background-color: #e7e7e7;
    display: none
}

.nav__menu li:nth-child(4) ul li:last-child {
    margin-top: 1rem;
}

.nav__menu li:nth-child(4) ul li a:hover {
    background-color: #204b87;
    transition: all 0.5s;
    cursor: pointer;
    color: white
}

.nav__menu li:nth-child(4):hover ul {
    display: block;
    padding: 1rem
}

.nav__contact ul li i {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    line-height: 3rem;
    text-align: center;
    color: white
}

.nav__contact ul li {
    padding: 0 0.5rem
}

.nav__contact ul li a i:hover {
    background-color: #fff;
    color: #b06010;
    border: 2px solid #b06010;
    transition: all 0.5s
}

.nav__contact ul li:first-child i {
    background-color: #3B5998;
}

.nav__contact ul li:nth-child(2) i {
    background-color: #337ab7;
}

.nav__contact ul li:last-child i {
    background-color: #F18CB3;
}


/* carousel */

.carousel {
    position: relative;
    text-align: center
}

.carousel__items img {
    width: 100%;
    height: 100%;
    display: block
}

.carousel__items p {
    position: absolute;
    top: 40%;
    left: 15%;
    color: white;
    font-size: 4rem;
    width: 70%;
    font-weight: 300
}

.carousel__inside {
    position: absolute;
    bottom: 35%;
    left: 40%;
    font-size: 2rem;
}

.carousel__inside a {
    text-decoration: none;
    color: #b06010;
    padding: 3rem
}

.owl-nav button:first-child span {
    position: absolute;
    font-size: 10rem;
    top: 40%;
    left: 5%;
    color: white;
}

.owl-nav button:nth-child(2) span {
    position: absolute;
    font-size: 10rem;
    color: white;
    top: 40%;
    right: 5%;
}

.owl-dots {
    position: absolute;
    bottom: 20%;
    left: 48%;
}

.owl-theme .owl-dots .owl-dot span {
    background-color: #B06010
}