/* global */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html,
body {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}


/* header */

.header {
    background-color: #B06010;
    padding: 1.3rem 0;
    font-size: 1.4rem;
    color: white
}

.header__content {
    width: 75%;
    margin: 0 auto
}

.header__content ul {
    list-style: none;
    display: flex;
}

.header__content ul li {
    margin-left: 3rem
}

.header__content ul li i {
    margin-right: 1rem
}

.header__content a {
    text-decoration: none;
    color: white
}

.header__content a:hover {
    color: #204b87;
    transition: all 0.5s
}


/* nav */

.nav {
    padding: 1rem 0;
}

.nav__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.nav a {
    text-decoration: none;
    color: #212121;
    font-size: 1.5rem
}

.nav ul {
    display: flex;
    align-items: center
}

.nav ul li {
    list-style: none;
    padding: 0 1.5rem 0;
}

.nav__menu a:hover,
a:focus {
    color: #b06010;
    transition: all 0.5s
}

.nav__logo a i {
    font-size: 2.5rem;
    color: #204b87;
    margin-right: 1rem
}

.nav__logo a span {
    color: black;
    font-size: 2.8rem;
    font-weight: bold
}

.nav__logo a p {
    font-size: 1.2rem;
    text-align: center;
    color: #b06010;
    letter-spacing: 0.6rem;
    font-weight: 600;
    margin-top: 0.5rem
}

.nav__menu li {
    position: relative;
}

.nav__menu li:nth-child(4) ul {
    position: absolute;
    top: 2rem;
    left: 1.5rem;
    width: 100%;
    display: block;
    background-color: #e7e7e7;
    display: none
}

.nav__menu li:nth-child(4) ul li:last-child {
    margin-top: 1rem;
}

.nav__menu li:nth-child(4) ul li a:hover {
    background-color: #204b87;
    transition: all 0.5s;
    cursor: pointer;
    color: white
}

.nav__menu li:nth-child(4):hover ul {
    display: block;
    padding: 1rem;
    z-index: 999;
}

.nav__contact ul li i {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    line-height: 3rem;
    text-align: center;
    color: white
}

.nav__contact ul li {
    padding: 0 0.5rem
}

.nav__contact ul li a i:hover {
    background-color: #fff;
    color: #b06010;
    border: 2px solid #b06010;
    transition: all 0.5s
}

.nav__contact ul li:first-child i {
    background-color: #3B5998;
}

.nav__contact ul li:nth-child(2) i {
    background-color: #337ab7;
}

.nav__contact ul li:last-child i {
    background-color: #F18CB3;
}


/* carousel */

.carousel {
    position: relative;
    text-align: center
}

.carousel__items img {
    width: 100%;
    height: 100%;
    display: block
}

.carousel__items p {
    position: absolute;
    top: 40%;
    left: 15%;
    color: white;
    font-size: 4rem;
    width: 70%;
    font-weight: 300
}

.carousel__inside {
    position: absolute;
    bottom: 35%;
    left: 40%;
    font-size: 2rem;
}

.carousel__inside a {
    text-decoration: none;
    color: #b06010;
    padding: 3rem
}

.owl-nav button:first-child span {
    position: absolute;
    font-size: 10rem;
    top: 40%;
    left: 5%;
    color: white;
}

.owl-nav button:nth-child(2) span {
    position: absolute;
    font-size: 10rem;
    color: white;
    top: 40%;
    right: 5%;
}

.owl-dots {
    position: absolute;
    bottom: 20%;
    left: 48%;
}

.owl-theme .owl-dots .owl-dot span {
    background-color: #B06010
}


/* about */

.about {
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 5rem;
}

.about__head {
    width: 60%;
    margin: 0 auto;
}

.about__head .about__p {
    color: #B06010;
    padding: 2rem 0;
    font-size: 1.2rem;
    letter-spacing: 0.6rem;
}

.about__head h2 {
    font-size: 4rem
}

.about p {
    color: #888;
    font-size: 1.8rem;
    line-height: 3.5rem
}

.about__bot {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    padding-top: 5rem;
    width: 75%;
    margin: 0 auto;
}

.about__items i {
    font-size: 4rem;
    color: #204b87;
    transform: rotatey(0);
    transition: all 0.5s
}

.about__items h3 {
    font-size: 2rem;
    color: #B06010;
    padding: 2rem 0;
    font-weight: bold;
    letter-spacing: 2px;
}

.about__items:hover i {
    color: #B06010;
    transform: rotatey(180deg);
    transition: all 0.5s
}


/* future */

.future {
    padding: 6rem 0
}

.future__content {
    display: flex;
    height: 50rem;
    background-color: #015BB1;
}

.future__img {
    width: 60%;
    height: 47rem;
}

.future__img img {
    width: 100%;
    height: 100%;
    display: block
}

.future__p {
    width: 40%;
    height: 47rem;
    display: flex;
    align-items: center
}

.future__inside {
    width: 75%;
    margin: 0 auto;
}

.future__inside h2 {
    color: white;
    font-size: 4rem;
    padding: 7rem 0 0;
}

.future__inside p {
    font-size: 2rem;
    line-height: 3.5rem;
    letter-spacing: 0.1rem;
    padding: 2rem 0
}

.future__inside h4 {
    color: white;
    font-size: 1.8rem;
    padding: 2rem 0
}

.future__inside h4 i {
    margin-right: 2rem
}


/* team */

.team {
    text-align: center;
    padding-bottom: 5rem
}

.team h2 {
    font-size: 4rem;
}

.team__p {
    color: #b06010;
    letter-spacing: 0.6rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    padding: 1.5rem 0 10rem 0;
}

.team__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    margin: 0 auto
}

.team__content img {
    width: 100%;
    height: 100%;
    border-radius: 50%
}

.team__items ul {
    list-style: none;
    border-top: 0.3rem solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team__items ul li {
    padding-top: 2rem;
    margin: 1rem
}

.team__items ul:hover {
    border-top: 0.3rem solid #B06010;
    transition: all 0.5s
}

.team__items ul li a {
    text-decoration: none;
    color: #204b87
}

.team__items ul li a:hover {
    color: #B06010;
    transition: all 0.5s
}

.team__items ul li a i {
    font-size: 1.8rem
}

.team__items h3 {
    font-size: 2rem;
    padding: 3rem 0 2rem 0;
    color: #B06010
}

.team__items p {
    font-size: 1.8rem;
    padding-bottom: 2rem;
    color: #4f5667;
}


/* feedback */

.feedback {
    width: 100%;
    height: 55rem;
    background-image: url("../img/banner-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    color: white;
}

.feedback__content {
    width: 70%;
    margin: 0 auto
}

.feedback__top {
    text-align: center;
}

.feedback__top h2 {
    font-size: 4rem;
    padding-bottom: 1.5rem
}

.feedback__top p {
    display: block;
    color: #b06010;
    letter-spacing: 0.6rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    padding-bottom: 5rem
}

.feedback__img {
    width: 15%;
    margin-left: 4.5rem
}

.feedback__img img {
    width: 100%;
    height: 100%;
    display: block
}

.feedback__p {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.18);
    padding: 2rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    position: relative;
}

.feedback__p p::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 27%;
    width: 0;
    height: 0;
    border-top: 9px solid rgba(227, 227, 227, 0.23);
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    transform: rotate(0deg);
}

.item {
    position: relative;
}

.feedback__intro {
    position: absolute;
    bottom: 8%;
    left: 30%;
}

.feedback__intro h4,
p {
    font-size: 1.6rem
}

.owl-dots {
    bottom: -6rem
}


/* overview */

.overview {
    padding: 5rem 0;
    text-align: center
}

.overview h2 {
    font-size: 4rem;
    margin-bottom: 1.5rem
}

.overview__p {
    display: block;
    color: #b06010;
    letter-spacing: 0.6rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    margin-bottom: 4rem
}

.overview__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    font-size: 3.5rem;
    background-color: #212121;
    padding: 5rem 0
}

.overview__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.overview__items i {
    color: #B06010
}

.overview__inside p {
    margin-left: 2rem;
    color: white
}

.overview__inside p:first-child {
    font-size: 3.5rem
}


/* footer */

.footer {
    padding: 5rem 0;
    background-color: #000000;
    color: #999;
    font-size: 1.6rem
}

.footer__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 75%;
    margin: 0 auto;
    line-height: 4rem
}

.footer__items h3 {
    color: white;
    font-size: 2.5rem;
    padding-bottom: 4rem
}

.footer__items ul {
    list-style: none;
}

.footer__items i {
    margin-right: 2rem
}

.footer__items ul li a {
    text-decoration: none;
    color: #999;
}

.footer__items:nth-child(2) ul {
    display: flex;
    align-items: center
}

.footer__items:nth-child(2) ul li a .fab {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    line-height: 3rem;
    text-align: center;
    color: white;
    margin-right: 1rem
}

.footer__items:nth-child(2) ul li {
    margin-top: 2rem
}

.footer__items:nth-child(2) ul li a i:hover {
    background-color: black;
    color: #b06010;
    border: 2px solid #b06010;
    transition: all 0.5s
}

.footer__items:nth-child(2) ul li:first-child i {
    background-color: #3B5998;
}

.footer__items:nth-child(2) ul li:nth-child(2) i {
    background-color: #337ab7;
}

.footer__items:nth-child(2) ul li:last-child i {
    background-color: #ea4c89;
}

.footer__items:last-child i {
    color: #015BB1
}

.footer__items:last-child a:hover {
    color: #015BB1;
    transition: all 0.5s
}

.footer__contact {
    width: 75%;
    margin: 0 auto;
    margin-top: 2rem
}

.footer__contact h3 {
    color: white;
    margin-bottom: 4rem;
    font-size: 2.5rem
}

.footer__form form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.footer__form form input {
    grid-column: 1 / span 2;
    padding: 1.5rem;
    background-color: rgb(27, 27, 27);
    border: none;
    outline: none;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.footer__form form button {
    width: 50%;
    color: white;
    background-color: #015BB1;
    cursor: pointer;
    border: none
}

.footer__form form button:hover {
    background-color: #B06010;
    transition: all 0.5s
}


/* modal */

.modal {
    text-align: center
}

.modal img {
    width: 100%;
}

.modal__head h3 {
    padding: 3rem 0;
    font-size: 3rem;
    color: #204b87;
    letter-spacing: 0.1rem;
    border-bottom: 0.1rem solid #e5e5e5;
    margin-bottom: 2rem
}

.modal__content h3 {
    padding: 2rem 0;
    font-size: 2rem;
    color: #B06010
}

.modal__content p {
    margin: 1.5rem 0 1rem;
    color: #888;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 3rem;
}